@import url('https://fonts.googleapis.com/css?family=Lato:900');
@font-face {
    font-family: LemonMilk;
    src: url('/source/fonts/LemonMilk/LemonMilkbold.otf');
}
@font-face {
    font-family: PeaceSans;
    src: url('/source/fonts/PeaceSans/PeaceSans.otf');
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1600px;
    display: grid;
    grid-template-areas:
            "header"
            "main"
            "footer";
    overflow: hidden;
}
@media all and (min-width: 0) and (max-width: 767px) {
}
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1600px;
    grid-template-rows: 90px 800px;
    align-items: end;
    width: 100%;
    height: 890px;
    background: url(../source/img/background/header-background.jpg), #bc2e3a;
    background-size: cover;
    background-blend-mode: multiply;
}
nav {
    font-family: Lato, sans-serif;
    z-index: 999;
}
.header-content {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-rows: 870px;
    width: 100%;
}
.header-logo {
    float: left;
    font-size: 43.5px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.1px;
    text-align: left;
    color: #ffffff;
    margin-left: 100px;
}
.header-menu {
    float: right;
    margin-right: 90px;
}
.header-menu li {
    list-style-type: none;
    margin: 0 10px;
}
.header-menu a {
    display: inline-block;
    color: #fff;
}
.header-menu a:nth-child(8) {
    margin-left: 30px;
}
.header-title {
    text-align: center;
    font-family: LemonMilk, sans-serif;
    position: relative;
    left: 163px;
    top: 14px;
    background: url(../source/img/background/header-background.jpg) no-repeat;
    background-size: 205%;
    background-position: -163px -235px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}
.header-title-text1 {
    font-size: 163px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: .87;
    letter-spacing: 4.1px;
    text-align: center;
}
.header-title-text2 {
    font-size: 98.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: .8;
    letter-spacing: 3.9px;
    text-align: center;
}
.header-title button {
    width: 192px;
    height: 54px;
    border-radius: 30px;
    box-shadow: -3.5px 11.5px 40px 0 rgba(0, 1, 1, 0.47);
    background-color: #ffffff;
    margin-top: 50px;
    -webkit-text-fill-color: #242424;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}
.header-content .header-image {
    width: 830px;
    height: 900px;
    position: relative;
    top: -70px;
    left: -72px;
}
.header-image-shade {
    background: url(../source/img/Shade.png) no-repeat;
    position: relative;
    left: -250px;
    top: 66px;
    width: 1073px;
    height: 900px;
    mix-blend-mode: hard-light;
}
.header-image img {
    position: relative;
    top: -763px;
    left: -4px;
    z-index: 3;
}
main {
    grid-area: main;
    width: 1600px;
}
.who-we-are {
    padding: 90px 220px 60px;
    overflow: hidden;
    z-index: 1;
    display: grid;
    grid-template-columns: 480px 1fr;
    background: url(../source/img/background/Rectangle1.png) no-repeat;
    background-position-x: 512px;
}
.who-we-are-title {
    font-family: PeaceSans, sans-serif;
    font-size: 62px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #494949;
    margin-top: 0;
    margin-bottom: 38px;
}
.who-we-are-text {
    font-family: OpenSans, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
    margin-left: 14px;
}
.who-we-are-block-text button {
    width: 192px;
    height: 54px;
    border-radius: 30px;
    box-shadow: -3.5px 11.5px 40px 0 rgba(0, 1, 1, 0.2);
    background-color: #bc2e3a;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #ffffff;
    margin-top: 50px;
}
.what-we-do {
    padding: 90px 200px;
    background: url(../source/img/background/Rectangle2.png) no-repeat, #f5f5f5;
    background-position-y: 50%;
}
.what-we-do-title {
    font-family: PeaceSans, sans-serif;
    font-size: 62px;
    color: #494949;
    text-align: center;
    margin-top: 0;
}
.what-we-do-content {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 180px 180px;
    grid-gap: 70px 60px;
}
.what-we-do-content img {
    float: left;
}
.what-we-do-content h3 {
    overflow: hidden;
    margin-left: 90px;
    margin-top: 16px;
    font-family: OpenSans, sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -0.8px;
    text-align: left;
    color: #6f6f6e;
}
.what-we-do-content p {
    width: 281px;
    margin-left: 90px;
    font-family: OpenSans, sans-serif;
    font-size: 17px;
    line-height: 1.76;
    text-align: left;
    color: #6a6a6a;
}
.how-we-works {
    padding: 115px 210px 200px;
}
.hww-background {
    width: 574px;
    height: 1183px;
    background: url(../source/img/background/Rectangle3.png) no-repeat;
    float: right;
    position: relative;
    top: -350px;
    left: 210px;
    z-index: 1;
}
.how-we-works-title {
    font-family: PeaceSans,sans-serif;
    font-size: 62px;
    color: #494949;
    margin-top: 0;
    margin-bottom: 30px;
}
.how-we-works-content {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 60px;
}
.how-we-works-block-text p {
    font-family: OpenSans, sans-serif;
    font-size: 17px;
    line-height: 1.76;
    color: #6a6a6a;
}
.how-we-works-block-text button {
    width: 192px;
    height: 54px;
    border-radius: 30px;
    box-shadow: 1.5px 7.5px 10px 0 rgba(0, 1, 1, 0.2);
    background-color: #bc2e3a;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #ffffff;
    margin-top: 20px;
}
.how-we-works-content a {
    width: 515px;
    height: 298px;
    position: relative;
    left: -32px;
    z-index: 999;
}
.hww-block1-title {
    position: relative;
    top: 105px;
    left: -98px;
}
.hww-block1-text {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    line-height: 1.67;
    color: #ffffff;
    width: 210px;
    position: relative;
    top: 75px;
    left: 116px;
}
.hww-block1-img {
    background: url(../source/img/hww-img-block1.png) no-repeat;
    background-position: 3px -23px;
}
.hww-block2-title {
    position: relative;
    top: 202px;
    left: -102px;
}
.hww-block2-img {
    background: url("../source/img/hww-img-block2.png") no-repeat;
    background-position: 3px -23px;
}
.hww-block3-title {
    position: relative;
    top: 202px;
    left: -102px;
}
.hww-block3-img {
    background: url("../source/img/hww-img-block3.png") no-repeat;
    background-position: 3px -23px;
}
.hww-block1-title,
.hww-block2-title,
.hww-block3-title {
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}
.our-creative-team {
    padding: 100px 100px 0;
    background-color: #f5f5f5;
    position: relative;
}
.oct-background {
    width: 215px;
    height: 1183px;
    background: url(../source/img/background/Rectangle4.png);
    position: absolute;
    left: 0px;
    top: 232px;
}
.oct-title {
    font-family: PeaceSans, sans-serif;
    font-size: 62px;
    text-align: center;
    color: #494949;
    margin-top: 0;
    margin-bottom: 0;
}
.oct-content {
    display: grid;
    grid-template-columns: 50px 375px 550px 375px 50px;
    align-items: center;
}
.oct-left {
    position: relative;
    left: 120px;
    filter: opacity(80%);
}
.oct-left-img-desc {
    width: 201px;
    height: 38px;
    text-align: center;
    background-color: #252525;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    margin: 0 auto;
    position: relative;
    top: -102px;
}
.oct-content span {
    display: block;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 38px;
    color: #ffffff;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
}
.oct-center {
    z-index: 10;
}
.oct-center-img-desc {
    width: 224px;
    height: 49px;
    text-align: center;
    background-color: #252525;
    font-size: 23px;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    margin: 0 auto;
    position: relative;
    top: -115px;
}
.oct-center-img-desc span {
    line-height: 49px;
}
.oct-center-img-desc-designer {
    width: 169px;
    height: 30px;
    text-align: center;
    background-color: #bc2e3a;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    position: relative;
    top: -118px;
    margin: 0 auto;
    left: 32px;
}
.oct-center-img-desc-designer span {
    font-size: 19px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.68;
}
.oct-right {
    position: relative;
    left: -120px;
    filter: opacity(80%);
}
.oct-right-img-desc {
    width: 201px;
    height: 38px;
    text-align: center;
    background-color: #252525;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    margin: 0 auto;
    position: relative;
    top: -102px;
}
.what-client-says {
    padding: 90px 180px;
}
.wcs-title {
    font-family: PeaceSans, sans-serif;
    font-size: 62px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #494949;
    margin: 0 0 10px 164px;
}
.wcs-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.wcs-comment blockquote {
    margin-left: 100px;
    margin-top: 55px;
}
.wcs-comment p {
    width: 660px;
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
    color: #6a6a6a;
}
.wcs-comment cite {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
}
.wcs-comment .quote {
    font-family: PumpLetPlain, serif;
    font-size: 190px;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
    width: 75px;
    height: 55px;
    margin: 0 -10px;
}
.wcs-comment .authors {
    list-style-type: none;
    margin-left: 90px;
    margin-top: 50px;
}
.wcs-comment .authors a {
    display: inline-block;
    margin: 0 5px;
}
.wcs-comment .authors li {
    width: 76px;
    height: 76px;
}
.wcs-comment .auth1 {
    background: url("../source/img/wcs-low-img1.png") no-repeat;
}
.wcs-comment .auth2 {
    background: url("../source/img/wcs-low-image2.png") no-repeat;
    background-size: cover;
}
.wcs-comment .auth3 {
    background: url("../source/img/wcs-low-image3.png") no-repeat;
    background-size: cover;
}
footer {
    grid-area: footer;
    background: url(../source/img/background/footer-background.jpg) no-repeat;
    background-size: cover;
    padding: 80px 200px;
}
.footer-title {
    font-family: PeaceSans, sans-serif;
    font-size: 62px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9f9f9f;
    margin-top: 0;
    margin-bottom: 55px;
}
.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: #fff;
    grid-row-gap: 60px;
}
.footer-content img {
    float: left;
}
.footer-content .block-title {
    font-family: OpenSans, sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: 0.6px;
    margin-left: 28px;
}
.footer-content .block-text {
    margin-left: 82px;
    font-family: OpenSans, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
}
.footer-content .block-phone .block-text {
    margin-left: 66px;
}
.footer-content .socials {
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer-content .socials ul {
    list-style-type: none;
    text-align: center;
}
.footer-content .socials ul a {
    color: #fff;
    margin: 0 20px;
}
.footer-content .socials ul li {
    display: inline-block;
}
.footer-content .socials hr {
    width: 737px;
    opacity: 0.43;
    margin: 30px 0;
}
.footer-content .socials p {
    font-family: OpenSans, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
}
